body{ font-family: Euclid Flex,MetaPlus,system-ui,BlinkMacSystemFont,-apple-system,
Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
Helvetica Neue,sans-serif;

}


#header{
    /*background-color: #fff;*/
     width:100%;
    height: 5em;
    margin-top:2em;
    /*margin-bottom:5em;*/
    padding-bottom:2.3em;
    font-family: Euclid Flex,MetaPlus,system-ui,BlinkMacSystemFont,-apple-system,
    Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
    Helvetica Neue,sans-serif;
    
}

#fsthead{
    background-color:#FFD700;
    width:100%;
    height:2.5em;
    margin:-9px 0 0 -10px;
    padding-right:1.1em;
    
    
}

ul{
    text-align:center;
    /*padding-top: -20em;*/
    
}

li{
    text-decoration:none;
    text-align:center;
    display:inline;
    margin:0 2em;
    color:#050540;
    
}

#flag {
   /* padding-top: 10px;*/
    height: 80px;
    width: 185px;
    margin-left: 5em;
    margin-top:-2em;
    display:inline;
    position:absolute;
}

li a {
    text-decoration: none;
    color: black;

}

  .toptop{
    margin:0;
    padding-top:0.5em;
    position:absolute;
    padding-left:78%;
    font-weight:bold;
    
  }

  video{
    width:101.7%;
    position:absolute;
    margin-top:-4.5em;
    margin-left:-1em;
    margin-right:7em;
    object-fit:cover;
    z-index:-1;
}

#overlay{
    background-color:rgba(0,0,0,0.4);
    width:40%;
    position:relative;
    bottom:-8em;
    font-weight:bold;
    
    
    }





