#header{
    background-color:white;
    width:100%;
    height:4em;
    margin-top:-1em;
    font-family: Euclid Flex,MetaPlus,system-ui,BlinkMacSystemFont,-apple-system,
    Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,
    Helvetica Neue,sans-serif;
    
}

#fsthead{
    background-color:#8ce2d0;
    width:110%;
    height:2.5em;
    margin:-9px -10px 0 -10px;
    
}

ul{
    text-align:center;
    padding-top: 1em;
}

li{
    text-decoration:none;
    text-align:center;
    display:inline;
    margin:0 2em;
     color:#050540;
}